<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css"  media="screen,projection"/>
    <link href="../assets/css/styles.css" type="text/css" rel="stylesheet">
    <link href="../node_modules/simplemde/dist/simplemde.min.css" type="text/css" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <script>
        var url_search = new URLSearchParams(window.location.search);
        var url_object = url_search.get("object");
        var url_display = url_search.get("display");
        var url_index = url_search.get("index");
    </script>
</head>

<body class="blue lighten-5">



<nav>

    <div class="nav-wrapper blue " style="padding-left: 40px">
        <a href="#" class="brand-logo"> Adipisici </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./objects.html"> Objects </a></li>
            <li><a href="#"> Endpoints </a></li>
            <li><a href="#"> Users </a></li>
        </ul>
    </div>
</nav>
<nav>

    <div class="nav-wrapper blue darken-1" style="padding-left: 20px">

        <div class="col s12">
            <a href="site.html" class="breadcrumb inject-site-name"></a>
            <a href="./objects.html" class="breadcrumb">Objects</a>
            <script>document.write('<a href="object.html?name='+url_object+'" class="breadcrumb">'+ url_object + ' Objects</a>');</script>
            <a href="#" class="breadcrumb inject-display-by"></a>
        </div>

    </div>

</nav>


<div id = "main-content" >

    <div style="height: 50px; overflow: hidden">
        <a class="btn-floating yellow darken-1" style="float: right; margin-right: 0px;"><i class="material-icons">settings</i></a>
    </div>




    <textarea class = "markdown-editor">

    </textarea>











</div>




<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.js"></script>
<script type="text/javascript" src="../node_modules/simplemde/dist/simplemde.min.js"></script>



<script>

    const Session = require('../lib/Session');
    var   session = new Session( );
    session.loadSession();

    session.getInfo().then( function( site_data ) {

        $(".inject-site-name").html( site_data.name );
        $(".inject-display-by").html( url_display );

    } ).catch( function( err ) {
        Materialize.toast( 'Uh Oh! Our Connection failed!', 15000, 'red darken-2');
        console.error( err );
    });

    session.execute( url_object, 'get', url_index  ).then( function( objects ) {


    }).catch( function( err ) {
        Materialize.toast( 'Uh Oh! Our Connection failed!', 10000, 'red darken-2');
        console.error( err );
    });

    $(document).ready( function() {

        $('#menu').click( function() {

            $('.tap-target').tapTarget('open');

        });

        $('.markdown-editor').each( function( el ) {

            var simplemde = new SimpleMDE( { element : el } );
            simplemde.value("default value");

        } );

    });

</script>


</body>
</html>
