<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css"  media="screen,projection"/>
    <link href="../assets/css/styles.css" type="text/css" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>



<body class="blue lighten-5">



<nav>

    <div class="nav-wrapper blue " style="padding-left: 40px">
        <a class="brand-logo"> Adipisici </a>
    </div>
</nav>
<nav>

    <div class="nav-wrapper blue darken-1" style="padding-left: 20px">

        <div class="col s12">
            <a class="breadcrumb"> Connect to Adipisici Instance </a>
        </div>
    </div>

</nav>


<div id = "main-content" class="row" style="max-width: 850px;">



    <div class="card row center-align" >
        <form class="col s12">


            <h4 class="center-align"> Connect to Adipisici Instance </h4>

            <br>
            <br>

            <div class="row">

                <div class="input-field col m9 s12">
                    <input id="adipisici_url" type="text" class="validate">
                    <label for="adipisici_url"> Adipisici Instance URL (include application protocol) </label>
                </div>

                <div class="input-field col m3 s12">
                    <input id="remember_adipisici_url" type="checkbox" class="def_true validate">
                    <label for="remember_adipisici_url"> Remember </label>
                </div>

            </div>


            <div class="row">

                <div class="input-field col m9 s12">
                    <input id="username" type="text" class="validate">
                    <label for="username"> Username </label>
                </div>

                <div class="input-field col m3 s12">
                    <input id="remember_username" type="checkbox" class="def_true validate">
                    <label for="remember_username"> Remember </label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m9 s12">
                    <input id="password" type="password" class="validate">
                    <label for="password"> Password </label>
                </div>

            </div>

            <div class="row">

                <br>
                <br>

                <a id="connect_button" class="waves-effect waves-light btn" style="width: 100%">Connect</a>

            </div>


        </form>
    </div>



</div>







<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../node_modules/hammerjs/hammer.min.js"></script>
<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.js"></script>
<script type="text/javascript" src="../assets/js/jquery.tablesorter.min.js"></script>

<script>

    const fs = require("fs");
    var data = JSON.parse( fs.readFileSync('data.json') );

    const Session = require('../lib/Session');
    var   session = new Session( );


    $(document).ready( function() {

        $("#username").val( data.defaults.user );
        $("#adipisici_url").val( data.defaults.url );

        $('.def_true').prop('checked', true);

        Materialize.updateTextFields();

    });


    $('#connect_button').click( function() {

        // Read Login form
        var username = $("#username").val();
        var password = $("#password").val();
        var adipisici_url = $("#adipisici_url").val();

        // Optionally remember username and url for future logins
        data.defaults.user = $("#remember_adipisici_url")[0].checked ? username : "";
        data.defaults.url  = $("#remember_username")[0].checked ? adipisici_url : "";
        fs.writeFileSync( 'data.json', JSON.stringify(data), 'utf8' );

        // Set session url
        session.url = adipisici_url;

        // Attempt to authenticate connection
        var skip_auth = true; // For dev purposes, enable to skip authentication
        if( skip_auth || session.connect( username, password ) ) {
            session.saveSession();
            window.location = "objects.html";
        } else {
            Materialize.toast( 'Uh Oh! Attempted Connection Failed </span>', 5000, 'red darken-2');
        }

    });



</script>



</body>
</html>
