<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css"  media="screen,projection"/>
    <link href="../assets/css/styles.css" type="text/css" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script>
        var obj_name = (new URLSearchParams(window.location.search)).get("name");
    </script>

</head>

<body class="blue lighten-5">



<nav>

    <div class="nav-wrapper blue " style="padding-left: 40px">
        <a href="#" class="brand-logo"> Adipisici </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./objects.html"> Objects </a></li>
            <li><a href="#"> Endpoints </a></li>
            <li><a href="#"> Users </a></li>
        </ul>
    </div>
</nav>
<nav>

    <div class="nav-wrapper blue darken-1" style="padding-left: 20px">

        <div class="col s12">
            <a href="site.html" class="inject-site-name breadcrumb"></a>
            <a href="./objects.html" class="breadcrumb">Objects</a>
            <a href="#" class="breadcrumb"><script>document.write(obj_name)</script> Objects</a>
        </div>
    </div>

</nav>


<div id = "main-content" >

    <div>

        <ul class="pagination" style="float: left; width: inherit;height: 30px;">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active blue"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

        <a class="btn-floating yellow darken-1" style="float: right; margin-right: 0px;"><i class="material-icons">settings</i></a>
        <a class="btn-floating pulse green" style="float: right; margin-right: 10px;"><i class="material-icons">add</i></a>
        <a class="btn-floating blue" style="float: right; margin-right: 10px;"><i class="material-icons">search</i></a>

    </div>


    <table id="object-table" class="grey lighten-5 bordered highlight">

        <thead><tr>
            <th> Title </th>
            <th> Authors </th>
            <th> Date Created </th>
            <th class="headerSortDown"> Date Modified </th>
            <th> Actions </th>
        </tr></thead>

        <tbody id="object-list">

        </tbody>

    </table>


</div>









<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../node_modules/hammerjs/hammer.min.js"></script>
<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.js"></script>
<script type="text/javascript" src="../assets/js/jquery.tablesorter.min.js"></script>


<script>

    const Session = require('../lib/Session');
    var   session = new Session( );
    session.loadSession();

    session.getInfo().then( function( site_data ) {

        $(".inject-site-name").html( site_data.name );

    } ).catch( function( err ) {
        Materialize.toast( 'Uh Oh! Our Connection failed!', 15000, 'red darken-2');
        console.error( err );
    });

    session.execute( obj_name, 'list'  ).then( function( objects ) {

        var obj_list = $("#object-list");

        objects.forEach( function( obj ) {
            obj_list.html(
                    obj_list.html() +
                    '\n<tr>\n' +
                    '   <td> ' + obj.name + ' </td>\n' +
                    '   <td> Ryan Beltran </td>\n' +
                    '   <td> Thu Jun 15 2017 </td>\n' +
                    '   <td> Thu Jun 15 2017 </td>\n' +
                    '   <td>\n' +
                    '       <a class="waves-effect waves-light btn green" href="./edit.html?object='+obj_name+'&display='+obj.name+'&index='+obj.url+'" style="margin-right: 4px; width : 125px;">edit</a>\n' +
                    '       <a class="waves-effect waves-light btn red" style="width:125px;">delete</a>\n' +
                    '   </td>\n' +
                    '</tr>'
            );
        } );
    }).catch( function( err ) {
        Materialize.toast( 'Uh Oh! Our Connection failed!', 10000, 'red darken-2');
        console.error( err );
    });


    $('#menu').click(function() {

        $('.tap-target').tapTarget('open');

    });

    $(document).ready(function() {

        $("#object-table").tablesorter();

    });

</script>



</body>
</html>
